/* css for about page */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: "Raleway", sans-serif;
	color: rgb(46, 9, 9);
    
}

/*Hero Styles*/

.hero {
	width: 100%;
    padding: 78px 0px;
    background-color: white;
	
	
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0 15px 20px rgba(0,0,0,0.2);
    justify-content: center;
	position: relative;


}

.main img {
	top: 0;
	left: 0;
	width: 35%;
	height: 50%;
	background-color: #ebeef3;
    opacity: 0;
    animation: 1s slidefade 1s forwards;
    transition: all 0.3s linear;
    transform: translateY(100px) scale(1);
	position: relative;
    
}

.hero h1 {
	font: 50px "Amatic SC", sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
}
    

.hero h3 {
	font: 18px "Raleway", sans-serif;
	font-weight: 300;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
}

    

.hero a.btn {
	padding: 20px 46px;
}

.hero-content-area {
	opacity: 0;
	margin-left: 20px;
	animation: 1s slidefade 1s forwards;
    width: 40%;
    display: flex;
    flex-direction: column ;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(100px) ;
    
}
.hero-content-area h1 {
	font: 50px "Amatic SC", sans-serif;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 15px;
}
    

.hero-content-area h3 {
	font: 18px "Raleway", sans-serif;
	font-weight: 300;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
	margin-bottom: 40px;
}
@keyframes slidefade { 
	

	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
        
	}
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}

	.hero h1 {
		font-size: 48px;
	}

	.hero h3 {
		font-size: 24px;
	}

	.hero a.btn {
		padding: 15px 40px;
	}
    .main {
        flex-direction: column;
        align-items: center;
    }
    .hero-content-area h1 {
        font: 25px "Amatic SC", sans-serif;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 15px;
    }
        
    
    .hero-content-area h3 {
        font: 12px "Raleway", sans-serif;
        font-weight: 300;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
        margin-bottom: 40px;
    }
}
