.meet-influencer {
    position: relative;
    display: inline-block;
    color: white;
  }
  
  .meet-influencer img {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position-y: -1.5rem;
    box-shadow: 0 4px 16px rgba(28, 28, 27, 0.2);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s,
      -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  
  .meet-influencers__name {
    position: absolute;
    top: 8.5rem;
    right: 0;
    min-width: 40px;
    padding: 0.25rem 0.75rem;
    font-size: .75rem;
    font-weight: 400;
    font-family: "GT Sectra Fine", serif;
    line-height: 1.5rem;
    background-color: #1c1c1b;
    color: white;
    text-decoration: none;
    text-align: center;
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.88, 0, 0.2, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.88, 0, 0.2, 1);
    transition: transform 0.6s cubic-bezier(1, 0.24, 0.1, 1.46);
    transition: transform 0.6s cubic-bezier(1, 0.24, 0.1, 1.46),
      -webkit-transform 0.6s cubic-bezier(1, 0.24, 0.1, 1.46);
    will-change: transform;
  }
  
  @media (min-width: 600px) {
    .meet-influencer img {
      position: relative;
      background-position-y: 0;
      width: 25.00002vw;
    }
  }
  
  @media (min-width: 600px) {
    .meet-influencer:hover img {
      background-position-y: 0;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    .meet-influencer :hover .meet-influencers__name {
      -webkit-transform: translate3d(0, -1rem, 0);
      transform: translate3d(0, -1rem, 0);
    }
  
    .meet-influencer:hover .meet-influencers__name {
      -webkit-transform: translate3d(1.5rem, 1.5rem, 0);
      transform: translate3d(1.5rem, 1.5rem, 0);
    }
  }